.item {
  min-height: 800px;

  display: flex;
  align-items: center;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 15px;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageContainer {
  flex: 1;
  max-width: 400px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.editButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    background-color: #0056b3;
  }
}
.item {
  display: flex;
  gap: 120px;
}
